.banner__image{
    background: url('../../img/banner.png') no-repeat center / cover;
    width: 100%;
}


@media screen and (min-width:0) {
    .banner__image{
        height: calc(100vh - 151px);
    }
}

@media screen and (min-width:768px) {
    .banner__image{
        height: calc(100vh - 172px);
    }
}