.team__mates{
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}

@media screen and (min-width:0) {
    .team__mates{
        flex-direction: column;
    }
}

@media screen and (min-width:768px) {
    .team__mates{
        flex-direction: row;
    }
}