.mate__image{
    height: 300px;
    width: 300px;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    transition: 1s;
}

.mate__image--roberta{
    background-image: url('../../img/personas/roberta.jpg');
}

.mate__image--marcela{
    background-image: url('../../img/personas/marcela.jpg');
}

.mate__image--andrea{
    background-image: url('../../img/personas/andrea.jpg')
}

@media screen and (min-width:0) {
    .mate__image{
        transform:scale(.8);
    }
}

@media screen and (min-width:768px) {
    .mate__image{
        transform:scale(0.7);
    }
}

@media screen and (min-width:1024px) {
    .mate__image{
        transform:scale(1);
    }
}